<html>
    <head>
        <title>Andres Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Andres Blog</a> </h1>
        </div>
        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My First post</a> </h2>
            <p> Este es el primer post de mi blog, que te parece. En este perimero
            sin embargo no se si este blog va ha ser exitose</p>
        </div>

          <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My Second post</a> </h2>
            <p> Este es el primer post de mi blog, que te parece. En este perimero
            sin embargo no se si este blog va ha ser exitose</p>
        </div>
    </body>
</html>